{{- $upgradedFromV1 := gt (len (getvs "/hosts/master/*/token")) 0 }}
{{- $lbIpFromV1 := join (getvs "/hosts/client/*/token") "" }}
{{- $upgradingFromV2 := gt (len (getvs "/upgrade-audit/from_app_version" | filter "(appv-39iiioy3)")) 0 }}
{{- $upgradingFromV3 := gt (len (getvs "/upgrade-audit/from_app_version" | filter "(appv-egh21tjg)")) 0 }}
{{- $upgrading := exists "/upgrade-audit/from_app_version" }}

flush /opt/app/current/bin/envs/node.env << NODE_ENV_EOF
DATA_MOUNTS=""
NODE_CTL=client
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
MY_IP={{ getv "/host/ip" }}
SERVICES="\$SERVICES ssh/true/tcp:22"
KS_ENABLED={{ getv "/env/install_kubesphere" "true" }}
IS_JOINING={{ exists (printf "/adding-hosts/client/%s/sid" (getv "/host/instance_id")) }}
UPGRADED_FROM_V1={{ $upgradedFromV1 }}
IS_UPGRADING_FROM_V2={{ $upgradingFromV2 }}
IS_UPGRADING_FROM_V3={{ $upgradingFromV3 }}
IS_UPGRADING={{ $upgrading }}
IS_HA_CLUSTER={{ gt (len (lsdir "/hosts/master")) 1 }}
LB_IP_FROM_V1={{ $lbIpFromV1 }}
{{- if (and $upgradedFromV1 $upgrading) }}
KS_MODULES_COUNT=10
{{- else }}
{{- $extraModules := getvs "/env/extra.modules" }}
KS_MODULES_COUNT={{ add 3 (len (split (join $extraModules "") "," | filter "ks-*")) }}
{{- end }}
NODE_ENV_EOF
