{{- $lbIpFromV1 := join (getvs "/hosts/client/*/token") "" }}
{{- $upgradingFromV1 := gt (len (getvs "/upgrade-audit/from_app_version" | filter "(appv-e5ni6ltd|appv-53p2pg79)")) 0 }}
{{- $upgradingFromV2 := gt (len (getvs "/upgrade-audit/from_app_version" | filter "(appv-39iiioy3)")) 0 }}

flush /opt/app/current/bin/envs/node.env << NODE_ENV_EOF
DATA_MOUNTS=""
NODE_CTL=client
MY_IP={{ getv "/host/ip" }}
KS_ENABLED={{ getv "/env/install_kubesphere" "true" }}
IS_JOINING={{ exists (printf "/adding-hosts/client/%s/sid" (getv "/host/instance_id")) }}
IS_UPGRADING_FROM_V1={{ $upgradingFromV1 }}
IS_UPGRADING_FROM_V2={{ $upgradingFromV2 }}
IS_HA_CLUSTER={{ gt (len (lsdir "/hosts/master")) 1 }}
LB_IP_FROM_V1={{ $lbIpFromV1 }}
{{- if $upgradingFromV1 }}
KS_MODULES_COUNT=7
{{- else }}
{{- $extraModules := getvs "/env/extra.modules" }}
KS_MODULES_COUNT={{ add 2 (len (split (join $extraModules "") "," | filter "ks-*")) }}
{{- end }}
NODE_ENV_EOF
