{{- if eq (getv "/host/role") "master" }}

flush /opt/app/current/conf/etcd/config.yml << ETCD_CONF_EOF
name: {{ getv "/host/instance_id" }}
data-dir: /data/var/lib/etcd
auto-compaction-retention: "0"
listen-peer-urls: http://{{ getv "/host/ip" }}:2380
listen-client-urls: http://127.0.0.1:2379,http://{{ getv "/host/ip" }}:2379
initial-advertise-peer-urls: http://{{ getv "/host/ip" }}:2380
advertise-client-urls: http://{{ getv "/host/ip" }}:2379
{{- $joining := lsdir "/adding-hosts/master" | filter (getv "/host/instance_id") }}
initial-cluster: $(echo "
{{- range lsdir "/hosts/master" }}
{{- if or (not $joining) (le (getv (printf "/hosts/master/%s/sid" .)) (getv "/host/sid")) }}
{{ . }}=http://{{ getv (printf "/hosts/master/%s/ip" .) }}:2380
{{- end }}
{{- end }}
" | awk NF | sort -V | paste -sd,)
initial-cluster-state: {{ if $joining }}existing{{ else }}new{{ end }}
initial-cluster-token: {{ getv "/cluster/cluster_id" }}
ETCD_CONF_EOF

{{- end }}
