[Unit]
Description=update hostnic status

[Service]
Type=simple
ExecStart=/usr/bin/appctl updateHostnicStatus
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
