{{- $volume0 := map "min"  10 "max"  2000 "step"  10 }}
{{- $volume2 := map "min" 100 "max"  5000 "step" 100 }}
{{- $volume5 := map "min" 100 "max" 20000 "step" 100 }}
{{- $volume6 := map "min" 100 "max" 10000 "step" 100 }}
{{- $volumeClassMaps := map "0" $volume0 "2" $volume2 "3" $volume0 "5" $volume5 "6" $volume6 "100" $volume0 "200" $volume0 }}
{{- $volumeNamesMap := map "0" "high-perf" "2" "high-capacity-legacy" "3" "super-high-perf" "5" "neonsan" "6" "high-capacity" "100" "standard" "200" "ssd-enterprise" }}

flush /opt/app/current/conf/k8s/csi-sc.yml << CSI_SC_EOF
{{- $masterVolumeClass := getv "/host/volume_class" }}
{{- range $volumeClass := split (getv "/cluster/resource_limits/valid_volume_classes") "," }}
{{- with $volumeClassMap := index $volumeClassMaps $volumeClass }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-{{ index $volumeNamesMap $volumeClass }}
  annotations:
    storageclass.kubesphere.io/supported_access_modes: '["ReadWriteOnce"]'
    storageclass.kubernetes.io/is-default-class: "{{ and (not $upgradedFromV1) (eq $volumeClass $masterVolumeClass) }}"

provisioner: csi-qingcloud
parameters:
  type: "{{ $volumeClass }}"
  minSize: "{{ index $volumeClassMap "min" }}"
  maxSize: "{{ index $volumeClassMap "max" }}"
  stepSize: "{{ index $volumeClassMap "step" }}"
  fsType: "ext4"
  replica: "2"
  {{- with join (getvs "/cluster/cluster_tag") "" }}
  tags: {{ . }}
  {{- end }}
allowVolumeExpansion: true
reclaimPolicy: Delete
{{- end }}
{{- end }}
CSI_SC_EOF
