flush /opt/app/current/conf/k8s/external-elk-svc.yml << EXT_ELK_SVC_EOF
apiVersion: v1
kind: Service
metadata:
  labels:
    app: elk
    component: data
  name: external-elk
  namespace: kube-system
spec:
  ports:
  - port: 9200
    protocol: TCP
    targetPort: 9200
  type: ClusterIP
{{- with $esNodes := getvs "/links/elk_service/hosts/es_*/*/ip" }}
---
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: elk
    component: data
  name: external-elk
  namespace: kube-system
subsets:
- addresses:
  {{- range $esNodes }}
  - ip: {{ . }}
  {{- end }}
  ports:
  - port: {{ getv "/links/elk_service/cluster/endpoints/ElasticSearch/port" }}
{{- end }}
EXT_ELK_SVC_EOF
