{{- $hostnicIPAM := replace (replace (join (getvs "/env/hostnic-ipam") "") "\r" "" -1) "\n"  " " -1 }}
{{- $hostnicVxnets := split (replace (replace (join (getvs "/env/hostnic-vxnets") "") "\r" "" -1) "\n"  " " -1) " " }}
{{- $enableAutoAssign := eq (join (getvs "/env/hostnic-autoassign") "") "true" }}

flush > /opt/app/current/conf/k8s/hostnic-cm.yml << HOSTNIC_CM_EOF
apiVersion: v1
kind: ConfigMap
metadata:
  name: hostnic-cfg-cm
  namespace: kube-system
data:
  hostnic: |
    {
      "pool": {
        "poolHigh": 5,
        "poolLow": 3,
        "maxNic": {{ $hostnicMaxNics }}
      },
      "server": {
        "networkPolicy": "{{ getv "/env/hostnic-networkpolicy" "" }}"
      }
    }
  hostnic-cni: |
    {
      "cniVersion": "0.3.0",
      "name": "hostnic",
      "type": "hostnic",
      "serviceCIDR" : "{{ $serviceSubnet }}"
    }
---
apiVersion: network.qingcloud.com/v1alpha1
kind: VxNetPool
metadata:
  name: v-pool
spec:
  vxnets:
  {{- range $hostnicVxnets }}
    - name: {{ . }}
  {{- end }}
  blockSize: {{ getv "/env/hostnic-blocksize" "26" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hostnic-ipam-config
  namespace: kube-system
data:
  {{- if $enableAutoAssign }}
  subnet-auto-assign: "on"
  {{- end }}
  ipam: |
    {{ $hostnicIPAM }}
HOSTNIC_CM_EOF
