reloadConfFile=/opt/app/current/conf/k8s/reload.conf

flush $reloadConfFile << RELOAD_CONF_EOF
reloadExternalElk={{ join (getvs "/links/elk_service/hosts/es_node*/*/ip") "," }}:{{ join (getvs "/links/elk_service/cluster/endpoints/ElasticSearch/port") "" }}
reloadKsEip={{ getv "/env/kubesphere_eip" "" }}
reloadKsConf={{ join (getvs "/links/etcd_service/hosts/etcd_node/*/ip") "," }}:{{ join (getvs "/env/extra.modules") "" }}
reload:kubelet={{ getv "/env/max_pods" "120" }}:{{ join (getvs "/env/kubelet.params") "" }}
reloadKubeApiserverCerts={{ join (getvs "/env/kubernetes_eip") "" }}
reloadKubeProxy={{ replace (replace (join (getvs "/env/proxy.iptables.params") "") "\n" "" -1) "\r" "" -1 }}
reloadKubeLogLevel={{ getv "/env/kube_log_level" "0" }}
reloadKubeApiserverArgs={{ join (getvs "/links/etcd_service/hosts/etcd_node/*/ip") "," }}:{{ if getv "/env/kube_audit_file" "" }}{{ join (getvs "/env/kube_audit_*") ":" }}:{{ getv "/env/keep_audit_days" "3" }}:{{ end }}
reloadMasterProcs:kube-apiserver={{ join (getvs "/env/kubernetes_eip") "" }}:{{ join (getvs "/env/apiserver.params") "" }}
reloadMasterProcs:kube-controller-manager={{ join (getvs "/env/controller.manager.params") "" }}
reloadMasterProcs:kube-scheduler={{ join (getvs "/env/scheduler.params") "" }}
RELOAD_CONF_EOF

flush /opt/app/current/bin/envs/reload.env << RELOAD_CMD_EOF
RELOAD_COMMANDS="$(diff --unchanged-line-format= --old-line-format= --new-line-format='%L' $reloadConfFile.1 $reloadConfFile | cut -d= -f1 | xargs)"
RELOAD_CMD_EOF
