{
        "name": {{cluster.name}},
        "description": {{cluster.description}},
        "vxnet": {{cluster.vxnet}},
        "links": {
            "etcd_service": {{cluster.etcd_service}},
            "elk_service": {{cluster.elk_service}}
        },
        "upgrade_policy": [
            "appv-53p2pg79",
            "appv-e5ni6ltd"
        ],
        "upgrading_policy": "in-place",
        "in-place-upgrade-nodes": [{
                "container":{
                    "snapshot": "ss-81cj2dpv",
                    "zone": "sh1a"
                },
                "copy":[{
                        "mount_role": "master",
                        "mount_point": "/upgrade",
                        "mount_options": "defaults,noatime",
                        "filesystem": "ext4",
                        "source": "/upgrade",
                        "destination": "/opt/upgrade"
                    },
                    {
                        "mount_role": "node_perf",
                        "mount_point": "/upgrade",
                        "mount_options": "defaults,noatime",
                        "filesystem": "ext4",
                        "source": "/upgrade",
                        "destination": "/opt/upgrade"
                    },
                    {
                        "mount_role": "node_super_perf",
                        "mount_point": "/upgrade",
                        "mount_options": "defaults,noatime",
                        "filesystem": "ext4",
                        "source": "/upgrade",
                        "destination": "/opt/upgrade"
                    },
                    {
                        "mount_role": "client",
                        "mount_point": "/upgrade",
                        "mount_options": "defaults,noatime",
                        "filesystem": "ext4",
                        "source": "/upgrade",
                        "destination": "/opt/upgrade"
                    }
                ]
            }
        ],
        "need_tag": true,
        "nodes": [
            {
                "role": "master",
                "container": {
                    "type": "kvm",
                    "image": "img-uu1a1ulv",
                    "zone": "sh1a"
                },
                "instance_class": {{cluster.master.instance_class}},
                "count": {{cluster.master.count}},
                "cpu": {{cluster.master.cpu}},
                "memory": {{cluster.master.memory}},
                "extra_quota": {
                    "volume": {
                      "size": 230,
                      "count": 14
                    },
                    "loadbalancer": 2,
                    "security_group": 2
                },
                "passphraseless": "ssh-rsa",
                "vertical_scaling_policy": "sequential",
                "volume": {
                    "size": {{cluster.master.volume_size}},
                    "mount_point": "/data",
                    "mount_options": "defaults,noatime",
                    "filesystem": "ext4"
                },
                "services": {
                    "init": {
                        "order": 2,
                        "cmd": "/opt/kubernetes/script/init-master.sh",
                        "timeout": 1200
                    },
                    "start": {
                        "order": 1,
                        "cmd": "/opt/kubernetes/script/start-master.sh",
                        "timeout": 1200
                    },
                    "stop": {
                        "cmd": "/opt/kubernetes/script/stop-master.sh",
                        "timeout": 1200
                    },
                    "destroy": {
                        "order": 1,
                        "nodes_to_execute_on": 1,
                        "post_stop_service": false,
                        "cmd": "/opt/kubernetes/script/destroy-master.sh"
                    },
                    "scale_in":{
                        "nodes_to_execute_on": 1,
                        "cmd": "/opt/kubernetes/script/scale-in.sh",
                        "timeout": 86400
                    },
                    "upgrade": {
                        "order": 1,
                        "cmd": "/opt/upgrade/kubernetes/script/upgrade-master.sh"
                    },
                    "rollback": {
                        "cmd": "/opt/kubernetes/script/empty-script.sh"
                    }
                },
                "custom_metadata": {
                    "cmd": "/opt/kubernetes/script/get-kubeadm-token.sh"
                }
            },
            {
                "role": "node_perf",
                "container": {
                    "type": "kvm",
                    "image": "img-uu1a1ulv",
                    "zone": "sh1a"
                },
                "instance_class": 0,
                "count": {{cluster.node_perf.count}},
                "cpu": {{cluster.node_perf.cpu}},
                "memory": {{cluster.node_perf.memory}},
                "passphraseless": "ssh-rsa",
                "volume": {
                    "size": {{cluster.node_perf.volume_size}},
                    "mount_point": "/data",
                    "mount_options": "defaults,noatime",
                    "filesystem": "ext4"
                },
                "services": {
                    "init": {
                        "order": 2,
                        "cmd": "/opt/kubernetes/script/init-node.sh",
                        "timeout": 1200
                    },
                    "start": {
                        "order": 2,
                        "cmd": "/opt/kubernetes/script/start-node.sh",
                        "timeout": 1200
                    },
                    "stop": {
                        "cmd": "/opt/kubernetes/script/stop-node.sh",
                        "timeout": 1200
                    },
                    "upgrade": {
                        "order": 2,
                        "cmd": "/opt/upgrade/kubernetes/script/upgrade-node.sh"
                    },
                    "rollback": {
                        "cmd": "/opt/kubernetes/script/empty-script.sh"
                    }
                },
                "advanced_actions": ["scale_horizontal"]
            },
            {
                "role": "node_super_perf",
                "container": {
                    "type": "kvm",
                    "image": "img-uu1a1ulv",
                    "zone": "sh1a"
                },
                "instance_class": 1,
                "count": {{cluster.node_super_perf.count}},
                "cpu": {{cluster.node_super_perf.cpu}},
                "memory": {{cluster.node_super_perf.memory}},
                "passphraseless": "ssh-rsa",
                "volume": {
                    "size": {{cluster.node_super_perf.volume_size}},
                    "mount_point": "/data",
                    "mount_options": "defaults,noatime",
                    "filesystem": "ext4"
                },
                "services": {
                    "init": {
                        "order": 2,
                        "cmd": "/opt/kubernetes/script/empty-script.sh",
                        "timeout": 1200
                    },
                    "start": {
                        "order": 2,
                        "cmd": "/opt/kubernetes/script/start-node.sh",
                        "timeout": 1200
                    },
                    "stop": {
                        "cmd": "/opt/kubernetes/script/stop-node.sh",
                        "timeout": 1200
                    },
                    "upgrade": {
                        "order": 2,
                        "cmd": "/opt/kubernetes/script/empty-script.sh"
                    },
                    "rollback": {
                        "cmd": "/opt/kubernetes/script/empty-script.sh"
                    }
                },
                "advanced_actions": ["scale_horizontal"]
            },
            {
                "role": "client",
                "container": {
                    "type": "kvm",
                    "image": "img-uu1a1ulv",
                    "zone": "sh1a"
                },
                "instance_class": {{cluster.client.instance_class}},
                "count": 1,
                "cpu": {{cluster.client.cpu}},
                "memory": {{cluster.client.memory}},
                "user_access": true,
                "passphraseless": "ssh-rsa",
                "services": {
                    "init": {
                        "order": 1,
                        "cmd": "/opt/kubernetes/script/init-client.sh",
                        "timeout": 1200
                    },
                    "start": {
                        "order": 3,
                        "cmd": "/opt/kubernetes/script/start-client.sh",
                        "timeout": 1200
                    },
                    "upgrade": {
                        "order": 3,
                        "cmd": "/opt/upgrade/kubernetes/script/upgrade-client.sh"
                    },
                    "rollback": {
                        "cmd": "/opt/kubernetes/script/empty-script.sh"
                    }
                },
                "custom_metadata": {
                    "cmd": "/opt/kubernetes/script/get-loadbalancer-ip.sh"
                }
            }
        ],
        "endpoints": {
            "nodeport": {
              "port": {{env.cluster_port_range}},
              "protocol": "tcp"
            },
            "apiserver": {
              "port": 6443,
              "protocol": "tcp"
            }
          },
        "env": {
            "access_key_id": {{env.access_key_id}},
            "pod_subnet": {{env.pod_subnet}},
            "service_subnet": {{env.service_subnet}},
            "api_external_domain": {{env.api_external_domain}},
            "cluster_port_range": {{env.cluster_port_range}},
            "max_pods": {{env.max_pods}},
            "network_plugin": {{env.network_plugin}},
            "proxy_mode": {{env.proxy_mode}},
            "host_aliases": {{env.host_aliases}},
            "registry_mirrors": {{env.registry_mirrors}},
            "insecure_registry": {{env.insecure_registry}},
            "docker_bip":{{env.docker_bip}},
            "keep_log_days":{{env.keep_log_days}},
            "kube_audit_file":{{env.kube_audit_file}},
            "keep_audit_days":{{env.keep_audit_days}},
            "docker_prune_days":{{env.docker_prune_days}},
            "kube_log_level":{{env.kube_log_level}},
            "master_count":{{cluster.master.count}},
            "kubesphere_eip": {{env.kubesphere_eip}},
            "kubernetes_eip": {{env.kubernetes_eip}},
            "install_kubesphere":{{env.install_kubesphere}},
            "kubernetes_version": "v1.15.5"
        }
}
