{
        "name": {{cluster.name}},
        "description": {{cluster.description}},
        "vxnet": {{cluster.vxnet}},
        "upgrade_policy": [
        ],
        "upgrade_roles": {
            "add": ["ssd_node"]
        },
        "links": {
            "etcd_service": {{cluster.etcd_service}}
        },
        "nodes": [
            {
                "role": "master",
                "container": {
                    "type": "kvm",
                    "image": "img-bcd55xlg",
                    "zone": "ap2a"
                },
                "loadbalancer": {{cluster.master.loadbalancer}},
                "instance_class": {{cluster.master.instance_class}},
                "count": {{cluster.master.count}},
                "cpu": {{cluster.master.cpu}},
                "memory": {{cluster.master.memory}},
                "user_access": true,
                "passphraseless": "ssh-rsa",
                "volume": {
                    "size": {{cluster.master.volume_size}},
                    "mount_point": "/data",
                    "mount_options": "defaults,noatime",
                    "filesystem": "ext4"
                },
                "services": {
                    "init": {
                        "order": 1,
                        "cmd": "/opt/kubernetes/script/init-master.sh",
                        "timeout": 500
                    },
                    "start": {
                        "order": 1,
                        "cmd": "/opt/kubernetes/script/start-master.sh",
                        "timeout": 500
                    },
                    "upgrade": {
                        "cmd": "/opt/kubernetes/script/upgrade-master.sh",
                        "timeout": 300
                    },
                    "stop": {
                        "cmd": "/opt/kubernetes/script/stop-master.sh",
                        "timeout": 300
                    }
                },
                "custom_metadata": {
                    "cmd": "/opt/kubernetes/script/get-kubeadm-token.sh"
                }
            },
            {
                "role": "node",
                "container": {
                    "type": "kvm",
                    "image": "img-bcd55xlg",
                    "zone": "ap2a"
                },
                "instance_class": 0,
                "count": {{cluster.node.count}},
                "cpu": {{cluster.node.cpu}},
                "memory": {{cluster.node.memory}},
                "user_access": true,
                "passphraseless": "ssh-rsa",
                "volume": {
                    "size": {{cluster.node.volume_size}},
                    "mount_point": "/data",
                    "mount_options": "defaults,noatime",
                    "filesystem": "ext4"
                },
                "services": {
                        "init": {
                            "order": 2,
                            "cmd": "/opt/kubernetes/script/init-node.sh",
                            "timeout": 300
                        },
                        "start": {
                            "order": 2,
                            "cmd": "/opt/kubernetes/script/start-node.sh",
                            "timeout": 500
                        },
                        "upgrade": {
                            "cmd": "/opt/kubernetes/script/upgrade-node.sh",
                            "timeout": 300
                        },
                        "stop": {
                            "cmd": "/opt/kubernetes/script/stop-node.sh",
                            "timeout": 300
                        }
                },
                "advanced_actions": ["scale_horizontal"]
            },
            {
                "role": "ssd_node",
                "container": {
                    "type": "kvm",
                    "image": "img-bcd55xlg",
                    "zone": "ap2a"
                },
                "instance_class": 0,
                "count": {{cluster.ssd_node.count}},
                "cpu": {{cluster.ssd_node.cpu}},
                "memory": {{cluster.ssd_node.memory}},
                "user_access": true,
                "passphraseless": "ssh-rsa",
                "volume": {
                    "size": {{cluster.ssd_node.volume_size}},
                    "mount_point": "/data",
                    "mount_options": "defaults,noatime",
                    "filesystem": "ext4"
                },
                "services": {
                        "init": {
                            "order": 2,
                            "cmd": "/opt/kubernetes/script/init-node.sh",
                            "timeout": 300
                        },
                        "start": {
                            "order": 2,
                            "cmd": "/opt/kubernetes/script/start-node.sh",
                            "timeout": 500
                        },
                        "upgrade": {
                            "cmd": "/opt/kubernetes/script/upgrade-node.sh",
                            "timeout": 300
                        },
                        "stop": {
                            "cmd": "/opt/kubernetes/script/stop-node.sh",
                            "timeout": 300
                        }
                },
                "advanced_actions": ["scale_horizontal"]
            },
            {
                "role": "client",
                "container": {
                    "type": "kvm",
                    "image": "img-bcd55xlg",
                    "zone": "ap2a"
                },
                "instance_class": {{cluster.client.instance_class}},
                "count": 1,
                "cpu": {{cluster.client.cpu}},
                "memory": {{cluster.client.memory}},
                "user_access": true,
                "passphraseless": "ssh-rsa",
                "services": {
                    "init": {
                        "order": 3,
                        "cmd": "/opt/kubernetes/script/init-client.sh",
                        "timeout": 300
                    },
                    "start": {
                        "order": 3,
                        "cmd": "/opt/kubernetes/script/start-client.sh",
                        "timeout": 300
                    },
                    "upgrade": {
                        "cmd": "/opt/kubernetes/script/upgrade-client.sh",
                        "timeout": 300
                    }
                }
            }
        ],
        "env": {
            "access_key_id": {{env.access_key_id}},
            "loadbalancer": {{cluster.master.loadbalancer}},
            "loadbalancer_ip": {{env.loadbalancer_ip}},
            "pod_subnet": {{env.pod_subnet}},
            "service_subnet": {{env.service_subnet}},
            "api_external_domain": {{env.api_external_domain}},
            "cluster_port_range": {{env.cluster_port_range}},
            "max_pods": {{env.max_pods}},
            "network_plugin": {{env.network_plugin}},
            "proxy_mode": {{env.proxy_mode}},
            "host_aliases": {{env.host_aliases}},
            "registry_mirrors": {{env.registry_mirrors}},
            "insecure_registry": {{env.insecure_registry}},
            "private_registry": {{env.private_registry}},
            "dockerhub_username":{{env.dockerhub_username}},
            "dockerhub_password":{{env.dockerhub_password}},
            "docker_bip":{{env.docker_bip}},
            "keep_log_days":{{env.keep_log_days}},
            "kube_log_level":{{env.kube_log_level}},
            "kubernetes_version": "v1.12.4"
        }
}
