apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
networking:
  dnsDomain: "{{getv "/env/api_external_domain"}}"
  podSubnet: "{{getv "/env/pod_subnet"}}"
  serviceSubnet: "{{getv "/env/service_subnet"}}"
kubernetesVersion: "v1.15.5"
controlPlaneEndpoint: "{{if eq "3" (getv "/env/master_count")}}{{$role := getv "/host/role"}}{{if or (eq "client" $role) (eq "master" $role)}}SHOULD_BE_REPLACED{{else}}{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/token" $dir}}{{getv $ip}}{{end}}{{end}}{{else}}{{ join (getvs "/hosts/master/*/ip") "" }}{{end}}:6443"
apiServer:
  extraArgs:
    audit-policy-file: "{{getv "/env/kube_audit_file"}}"
    audit-log-path: "/etc/kubernetes/audit/audit-log-file"
    audit-log-maxage: "{{getv "/env/keep_audit_days"}}"
    service-node-port-range: "{{getv "/env/cluster_port_range"}}"
    etcd-prefix: "{{getv "/cluster/cluster_id"}}"
    insecure-port: "8080"
    feature-gates: "KubeletPluginsWatcher=false,CSINodeInfo=false,CSIDriverRegistry=false,RotateKubeletClientCertificate=true"
    v: "{{getv "/env/kube_log_level"}}"
  extraVolumes:
  - name: "audit-volume"
    hostPath: "/etc/kubernetes/audit"
    mountPath: "/etc/kubernetes/audit"
    readOnly: false
    pathType: Directory
  certSANs:
  - "{{if eq "3" (getv "/env/master_count")}}loadbalancer{{else}}{{ join (getvs "/hosts/master/*/instance_id") "" }}{{end}}"
{{if ne "" (getv "/env/kubernetes_eip")}}  - "{{getv "/env/kubernetes_eip"}}"{{end}}
certificatesDir: "/etc/kubernetes/pki"