apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-qingcloud
  annotations:
    storageclass.kubesphere.io/supported_access_modes: '["ReadWriteOnce"]'
    storageclass.beta.kubernetes.io/is-default-class: "true"
provisioner: disk.csi.qingcloud.com
parameters:
  type: "{{getv "/host/volume_class"}}"
  maxSize: "{{$type := getv "/host/volume_class"}}{{if or  (eq "1" $type) (eq "2" $type) (eq "5" $type)}}5000{{else}}1000{{end}}"
  minSize: "{{$type := getv "/host/volume_class"}}{{if or  (eq "1" $type) (eq "2" $type) (eq "5" $type)}}100{{else}}10{{end}}"
  stepSize: "{{$type := getv "/host/volume_class"}}{{if or  (eq "1" $type) (eq "2" $type) (eq "5" $type)}}100{{else}}10{{end}}"
  fsType: "ext4"
  replica: "2"
  tags: "{{getv "/cluster/cluster_tag"}}"
reclaimPolicy: Delete
{{- $records := split (getv "/cluster/resource_limits/valid_volume_classes") ","}}{{range $index, $element := $records}}{{if (eq "5" $element)}}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: neonsan
  annotations:
    storageclass.kubesphere.io/supported_access_modes: '["ReadWriteOnce"]'
provisioner: disk.csi.qingcloud.com
parameters:
  type: "5"
  maxSize: "50000"
  minSize: "100"
  stepSize: "100"
  fsType: "ext4"
  replica: "2"
  tags: "{{getv "/cluster/cluster_tag"}}"
reclaimPolicy: Delete
{{end}}{{- end}}