apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-qingcloud
  annotations:
    storageclass.kubesphere.io/supported_access_modes: '["ReadWriteOnce"]'
    storageclass.beta.kubernetes.io/is-default-class: "true"
provisioner: csi-qingcloud
parameters:
  type: "{{getv "/host/volume_class"}}"
  maxSize: "{{$type := getv "/host/volume_class"}}{{if or  (eq "1" $type) (eq "2" $type) (eq "5" $type)}}5000{{else}}1000{{end}}"
  minSize: "{{$type := getv "/host/volume_class"}}{{if or  (eq "1" $type) (eq "2" $type) (eq "5" $type)}}100{{else}}10{{end}}"
  stepSize: "{{$type := getv "/host/volume_class"}}{{if or  (eq "1" $type) (eq "2" $type) (eq "5" $type)}}100{{else}}10{{end}}"
  fsType: "ext4"
reclaimPolicy: Delete
