{
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "10m",    
        "max-file": "3"    
    },
    {{$registries := getv "/env/insecure_registry"}}
    {{if ne $registries ""}}
    "insecure-registries": {{split $registries " "|toJson}},
    {{end}}
    {{$mirrors := getv "/env/registry_mirrors"}}
    {{if ne $mirrors ""}}
    "registry-mirrors": {{split $mirrors " "|toJson}},
    {{end}}
    "storage-driver": "overlay2",
    "bip": "{{getv "/env/docker_bip"}}"
}