{{if eq (getv "/host/role") "master"}}
[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/bin/etcd  \
    --advertise-client-urls http://{{getv "/host/ip"}}:2379   \
    --initial-advertise-peer-urls http://{{getv "/host/ip"}}:2380  \
    --initial-cluster {{range $dir := lsdir "/hosts/master/"}}{{$ipstr := printf "/hosts/master/%s/ip" $dir}}{{$ip := getv $ipstr}}{{printf "%s=http://%s:2380," $dir $ip}}{{end}} \
    --initial-cluster-state new \
    --listen-client-urls http://{{getv "/host/ip"}}:2379 \
    --listen-peer-urls http://{{getv "/host/ip"}}:2380 \
    --name {{getv "/host/instance_id"}} \
    --data-dir /var/lib/etcd \
    --snapshot-count=10000

[Install]
WantedBy=multi-user.target
{{end}}