
apiVersion: v1
kind: Service
metadata:
  labels:
    app: elk
    component: data
  name: external-elk
  namespace: kubesphere-logging-system
spec:
  ports:
  - port: 9200
    protocol: TCP
    targetPort: 9200
  type: ClusterIP
{{if exists "/links/elk_service/cluster/cluster_id"}}
---
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: elk
    component: data
  name: external-elk
  namespace: kubesphere-logging-system
subsets:
- addresses:
{{- range gets "/links/elk_service/hosts/es_node/*/ip" }}
  - ip: {{print .Value}}
{{- end }}
  ports:
  - port: {{getv "/links/elk_service/cluster/endpoints/ElasticSearch/port"}}
{{end}}