127.0.0.1       localhost

ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{if eq "3" (getv "/env/master_count")}}{{$role := getv "/host/role"}}{{if or (eq "client" $role) (eq "master" $role)}}SHOULD_BE_REPLACED{{else}}{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/token" $dir}}{{getv $ip}}{{end}}{{end}} loadbalancer{{end}}
{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/ip" $dir}}
{{getv $ip}} {{$dir}} client{{end}}
{{range $dir := lsdir "/hosts/master/"}}{{$ip := printf "/hosts/master/%s/ip" $dir}}{{$sid := printf "/hosts/master/%s/sid" $dir}}
{{getv $ip}} {{$dir}} master{{getv $sid}}{{end}}
{{range $dir := lsdir "/hosts/node/"}}{{$ip := printf "/hosts/node/%s/ip" $dir}}
{{getv $ip}} {{$dir}}{{end}}
{{range $dir := lsdir "/hosts/ssd_node/"}}{{$ip := printf "/hosts/ssd_node/%s/ip" $dir}}
{{getv $ip}} {{$dir}}{{end}}

{{$records := split (getv "/env/host_aliases") ","}}{{range $records}}{{.}}
{{end}}