master  ansible_connection=local

[kube-master]
master

[kube-master:vars]

bin_dir="/usr/bin"

kubernetes_ca_crt="/etc/kubernetes/pki/ca.crt"
kubernetes_ca_key="/etc/kubernetes/pki/ca.key"

kubernetes_front_proxy_client_crt="/etc/kubernetes/pki/front-proxy-client.crt"
kubernetes_front_proxy_client_key="/etc/kubernetes/pki/front-proxy-client.key"

first_kube_master={{range $dir := lsdir "/hosts/master/"}}{{$ip := printf "/hosts/master/%s/ip" $dir}}{{$sid := printf "/hosts/master/%s/sid" $dir}}{{if eq "1" (getv $sid)}}{{getv $ip}}{{end}}{{end}}

etcd_tls_enable=False
 
etcd_client_ca_crt=""
etcd_client_crt=""
etcd_client_key=""

{{- with getvs "/links/etcd_service/hosts/etcd_node/*/ip" }}
etcd_endpoint_ips={{ join . "," }}
{{- else }}
etcd_endpoint_ips={{ join (getvs "/hosts/master/*/ip") "," }}
{{- end }}

{{if exists "/links/elk_service/cluster/cluster_id"}}external_es_url=external-elk.kube-system.svc
external_es_port={{getv "/links/elk_service/cluster/endpoints/ElasticSearch/port"}}{{end}}

elk_prefix="{{getv "/cluster/cluster_id"}}"

containersLogMountedPath="/data/var/lib/docker/containers"
