127.0.0.1       localhost

ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{if eq "3" (getv "/env/master_count")}}{{$role := getv "/host/role"}}{{if or (eq "client" $role) (eq "master" $role)}}SHOULD_BE_REPLACED{{else}}{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/token" $dir}}{{getv $ip}}{{end}}{{end}} loadbalancer{{end}}
{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/ip" $dir}}
{{getv $ip}} {{$dir}} client{{end}}
{{- range $dir := lsdir "/hosts/master/"}}{{$ip := printf "/hosts/master/%s/ip" $dir}}{{$sid := printf "/hosts/master/%s/sid" $dir}}
{{getv $ip}} {{$dir}} master{{getv $sid}}
{{- end}}
{{- range $dir := lsdir "/hosts/node_perf/"}}{{$ip := printf "/hosts/node_perf/%s/ip" $dir}}
{{getv $ip}} {{$dir}}
{{- end}}
{{- range $dir := lsdir "/hosts/node_super_perf/"}}{{$ip := printf "/hosts/node_super_perf/%s/ip" $dir}}
{{getv $ip}} {{$dir}}
{{- end}}
{{- range $dir := lsdir "/hosts/node_standard/"}}{{$ip := printf "/hosts/node_standard/%s/ip" $dir}}
{{getv $ip}} {{$dir}}
{{- end}}
{{- range $dir := lsdir "/hosts/node_enterprise/"}}{{$ip := printf "/hosts/node_enterprise/%s/ip" $dir}}
{{getv $ip}} {{$dir}}
{{- end}}
{{- range $dir := lsdir "/hosts/node_premium/"}}{{$ip := printf "/hosts/node_premium/%s/ip" $dir}}
{{getv $ip}} {{$dir}}
{{- end}}

{{$records := split (getv "/env/host_aliases") ","}}{{range $records}}{{.}}
{{end}}