{{range $dir := lsdir "/hosts/master/"}}{{$sid := printf "/hosts/master/%s/sid" $dir}}{{$id:=getv $sid}}{{if eq "1" $id }}{{$token := printf "/hosts/master/%s/token" $dir}}{{getv $token}}{{end}}{{end}}