apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
bootstrapTokens:
- ttl: "0"
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: "cgroupfs"
    max-pods: "{{getv "/env/max_pods"}}"
    fail-swap-on: "true"
    root-dir: "/data/var/lib/kubelet"
    allow-privileged: "true"
    feature-gates: "KubeletPluginsWatcher=false,CSINodeInfo=false,CSIDriverRegistry=false"
    pod-infra-container-image: "dockerhub.qingcloud.com/google_containers/pause-amd64:3.1"
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
etcd:
  external:
    endpoints:
{{range $dir := lsdir "/hosts/master/"}}{{$tmp := printf "/hosts/master/%s/sid" $dir}}{{$index := getv $tmp}}    - http://{{printf "/hosts/master/%s/ip" $dir | getv}}:2379
{{end}}
networking:
  dnsDomain: "{{getv "/env/api_external_domain"}}"
  podSubnet: "{{getv "/env/pod_subnet"}}"
  serviceSubnet: "{{getv "/env/service_subnet"}}"
kubernetesVersion: "{{getv "/env/kubernetes_version"}}"
controlPlaneEndpoint: "{{if ne (getv "/host/role") "client"}}{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/token" $dir}}{{getv $ip}}{{end}}{{end}}:6443"
apiServerCertSANs:
- "loadbalancer"
imageRepository: "dockerhub.qingcloud.com/google_containers"
unifiedControlPlaneImage: "dockerhub.qingcloud.com/google_containers/hyperkube-amd64:{{getv "/env/kubernetes_version"}}"
apiServerExtraArgs:
  service-node-port-range: "{{getv "/env/cluster_port_range"}}"
  insecure-port: "8080"
  feature-gates: "KubeletPluginsWatcher=false,CSINodeInfo=false,CSIDriverRegistry=false"
  v: "{{getv "/env/kube_log_level"}}"
controllerManagerExtraArgs:
  feature-gates: "KubeletPluginsWatcher=false,CSINodeInfo=false,CSIDriverRegistry=false"
  v: "{{getv "/env/kube_log_level"}}"
schedulerExtraArgs:
  feature-gates: "KubeletPluginsWatcher=false,CSINodeInfo=false,CSIDriverRegistry=false"
  v: "{{getv "/env/kube_log_level"}}"
certificatesDir: "/etc/kubernetes/pki"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "{{getv "/env/proxy_mode"}}"