NODE_ROLE_ARGS=--node-labels=node-role.kubernetes.io/{{getv "/host/role"}}= \
--anonymous-auth=true \
--authorization-mode=AlwaysAllow \
--cgroup-driver=cgroupfs \
--fail-swap-on=true \
--feature-gates=CSINodeInfo=true,CSIDriverRegistry=true,KubeletPluginsWatcher=true,VolumeSnapshotDataSource=true,ExpandCSIVolumes=true,VolumePVCDataSource=true \
--kube-reserved=cpu=200m,memory=512M \
--max-pods={{getv "/env/max_pods"}} \
--network-plugin=cni \
--pod-infra-container-image=gcr.azk8s.cn/google_containers/pause:3.1 \
--read-only-port=10255 \
--resolv-conf=/run/systemd/resolve/resolv.conf \
--root-dir=/data/var/lib/kubelet \
--rotate-certificates=true \
--system-reserved=cpu=200m,memory=512M \
--v={{getv "/env/kube_log_level"}}