zone: {{getv "/cluster/zone"}}
defaultVxNetForLB: {{getv "/cluster/vxnet"}}
clusterID: {{getv "/cluster/cluster_id"}}
isApp: true
{{if exists "/cluster/cluster_tag"}}tagIDs:
- {{getv "/cluster/cluster_tag"}}{{end}}