{{range $dir := lsdir "/deleting-hosts/node_perf/"}}
{{$dir}}{{end}}
{{range $dir := lsdir "/deleting-hosts/node_super_perf/"}}
{{$dir}}{{end}}
{{range $dir := lsdir "/deleting-hosts/node_standard/"}}
{{$dir}}{{end}}
{{range $dir := lsdir "/deleting-hosts/node_enterprise/"}}
{{$dir}}{{end}}
{{range $dir := lsdir "/deleting-hosts/node_premium/"}}
{{$dir}}{{end}}